<nb-card-header>
  <span class="title">
    Corn field
  </span>
</nb-card-header>
<nb-card-body>
  <div class="row">
    <div class="col-md-1 p-30">
      <img class="vege-icon" src="../../../../../assets/icons/kukurydza.png">
    </div>
    <div class="col-md-8 p-30">
      <ngx-stats-bar-animation-chart [linesData]="linesData"></ngx-stats-bar-animation-chart>
    </div>
    <div class="col-md-3">
      <b>Harvest term:</b> 19.08.2021 <br>
      <b>Harvest quantity:</b> 700 t <br>
      <b>Profit per t:</b> 325$ <br>
    </div>
  </div>
</nb-card-body>
