@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};

img.map-img {
  width: 100%;
}

img.vege-icon {
  width: 70px;
  height: 70px;
}

img.vege-icon-tiny {
  width: 30px;
  height: 30px;
}

div.p-30 {
  text-align: center;
}

nb-card-body {
  padding: 1rem 1.5rem !important;
}

.flip-icon {
  right: 1rem !important;
}

.mapa {
  padding: 15px;
}

.map-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.stats-wrapper {
  padding: 30px;
}

#mapimg {
  margin-left: 50%;
  min-width: 700px;
  transform: translateX(-50%);
}

#yellow, #lgreen, #dgreen {
  opacity: 70%;
}

#yellow:hover, #lgreen:hover, #dgreen:hover {
  opacity: 100%;
}

.goto-btn {
  padding-top: 15px;
}

.map-card {
  padding-top: 15px;
  padding-bottom: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.task-date {
  padding: 15px;
  margin-right: 15px;
  background-color: #ECECEC;
  border-radius: 10px;
  text-align: center;
}
