<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <nb-card>
          <nb-card-body>
            <div class="row">
              <div class="col-md-12">
                <img class="map-img" src="../../../../../assets/images/map.png">
              </div>
              <div class="col-md-12 goto-btn">
                <button nbButton class="full-width" status="primary">
                  Go to map view
                </button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-9">
        <nb-card>
          <nb-card-header>
            <span class="title">
              Prediction overview
            </span>
          </nb-card-header>
          <nb-card-body>
            hejka
          </nb-card-body>
        </nb-card>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <nb-card>
          <nb-card-header>
            <span class="title">
              Field1
              <nb-icon icon="alert-circle-outline" pack="eva" class="warn-icon" status="warning"></nb-icon>
            </span>
          </nb-card-header>
          hejka
        </nb-card>
      </div>
    </div>
  </div>
</div>

<button nbButton class="full-width" status="primary">
  Add new field
</button>
